binary "https://raw.githubusercontent.com/anooprawat5/SoftphoneSwiftPackage-saas-local/main/Softphonexcframework.json"
binary "https://raw.githubusercontent.com/anooprawat5/SoftphoneSwiftPackage-saas-local/main/SoftphonSwiftexcframework.json"
